@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|Yeon+Sung');
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family:"Noto Sans KR",sans-serif;
}
.background_img {
    border: 0;
    padding: 0; 
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(168, 155, 155, 0.5) ),url(../images/loginImg.jpg);
    height: 100%;
    background-position: center;
    background-size: cover;
}
.logo_img {
	width:55px; 
	height:20px; 
	padding-top:10px;
}
.loginForm {
    background-color: rgb(255,255,255);
    left:37%;
    width:25%;
    top:20%;
    text-align:center;
    border-radius:3px;
    box-shadow:10px 10px 20px  rgb(58,58,58);
}
.logo_text {
    font-family:"Noto Sans KR",sans-serif;
    font-size:12px;
    color:rgb(207,0,0);
    margin-top:10px;
    margin-right:30px;
    text-align:right;
}
.icon {
    margin-right:5px;
    width:15px;
    height:15px;
}
.login_icon {
    margin-right:3px;
    width:13px;
    height:13px;
    
}
.textForm { padding:100px 0; }
.inp {
    width:250px; height:33px; margin-bottom:10px;
    border:0px;
    border-bottom:2px solid rgb(207,0,0);
}
a,a:link,a:visited,a:active,a:hover{text-decoration: none; color:rgb(117,117,117);}
.sub_nav{
    text-align:center;
    margin-left:-30px;
}
.sub_nav ul {
    display:inline-block;
    list-style: none;
} 
.sub_nav ul li {
    font-size:1px; 
    color:rgb(117,117,117); 
    float:left;
    border-right:1px solid rgb(117,117,117);
    padding-right:8px;
    margin-right:8px;
    line-height:1;
}
.sub_nav ul li:last-child { border-right: 0; }

.btn {
    cursor:pointer;
    background-color:rgb(207,0,0);
    color:rgb(255,255,255);
    border:0;
    border-radius:25px;
    width:120px;
    height:32px;
}
.btn:hover {
    background-color:rgb(255,0,0);
    color:rgb(255,255,255);   
}
